@use "../partials/palette";
@import "../mixins/mixins";

.footer {
    position: fixed;
    bottom: 0px;
    background: black;
    opacity: 0.6;
    height: auto;
    width: 100vw;
    color: white;
    padding: 10px;

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    &__text {
        font-size: 16px;
        font-weight: 300;
        margin-top: 10px;
    }

    &__socials {
        display: flex;
        gap: 10px;
        list-style: none;
        margin: 10px;
        &--hover:hover {
            transition: opacity 0.25s ease-in-out;
            opacity: 0.5;
        }
    }

    @include size(sm) {
        .footer-menu ul {
            display: flex;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
}
