@use "../partials/palette";
@import "../mixins/mixins";

.library-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: palette.$black;

    @include size(lg) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include size(sm) {
        grid-template-columns: 1fr;
    }
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background: rgba(#e6e6e6, 0.4);
    color: palette.$white;
    border-radius: 30px;

    &__image {
        @include size(sm) {
            display: none;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
        margin: 0px 40px;
        border: 2px solid palette.$white;
        border-radius: 15px;
        background-color: palette.$black;
        opacity: 0.7;
    }

    &__author {
        font-size: 20px;
        font-weight: 500;
    }

    &__title {
        font-size: 16px;
        font-weight: 300;
    }

    &__description {
        font-size: 14px;
        font-weight: 300;
        text-align: center;

        @include size(sm) {
            display: none;
        }
        @include size(lg) {
            display: none;
        }
        @include size(xl) {
            display: none;
        }
        @include size(xxl) {
            display: none;
        }
    }

    &__link {
        text-decoration: none;
    }

    &__read,
    &__info {
        align-self: center;
        width: 100px;
        height: 25px;
        border-radius: 40px;
        text-align: center;
        cursor: pointer;
        padding: 5px;
        background-color: #4d4d4d;
        color: palette.$white;
        transition: opacity 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    }
    &__read:hover,
    &__info:hover {
        border-radius: 10px;
        opacity: 0.7;
    }
}
