@use "../partials/palette";
@import "../mixins/mixins";

* {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    background-color: #121212;
}

#bg-image {
    background-image: none;
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin-bottom: 7%;
    box-sizing: border-box;
}
