@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
  background-color: #1f1f1f;
}

#bg-image {
  background-image: none;
  background-size: cover;
  height: 100%;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  min-height: 100vh;
  box-sizing: border-box;
}

.header__link:link {
  text-decoration: none;
}
.header__link:hover {
  opacity: 0.7;
}
.header__link:visited {
  color: #ffffff;
}
.header__logo {
  display: flex;
  flex-direction: row;
  font-size: 96px;
  font-weight: 500;
}
.header__logo--blue {
  color: #4285f4;
}
.header__logo--red {
  color: #db4437;
}
.header__logo--yellow {
  color: #f4b400;
}
.header__logo--green {
  color: #0f9d58;
}
.header__books {
  padding-top: 35px;
  font-size: 60px;
  font-weight: 300;
}

.searchbar__input {
  background: none;
  border: none;
  outline: none;
}

.searchbar__form ::placeholder {
  color: #ffffff;
  opacity: 0.5;
}
.searchbar__input {
  width: 400px;
  padding: 10px 45px 10px 0;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  font-size: 19px;
  margin: 40px 0;
}
.searchbar__button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit;
}
.searchbar__button:hover {
  cursor: pointer;
}
.searchbar__button__img {
  height: 25px;
}

.search-result__header {
  font-size: 23px;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 50px;
}

.library-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  color: #ffffff;
}
@media only screen and (max-width: 992px) {
  .library-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 576px) {
  .library-grid {
    grid-template-columns: 1fr;
  }
}
