@use "./partials/typography";

* {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    background-color: #1f1f1f;
}

%remove-border {
    background: none;
    border: none;
    outline: none;
}

#bg-image {
    background-image: none;
    background-size: cover;
    height: 100%;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    min-height: 100vh;
    box-sizing: border-box;
}

.header {
    &__link:link {
        text-decoration: none;
    }
    &__link:hover {
        opacity: 0.7;
    }
    &__link:visited {
        color: white;
    }

    &__google-logo {
        font-size: 4.5rem;
        font-weight: 500;
    }

    &__books {
        font-size: 2.5rem;
    }
}

.searchbar {
    &__form {
        ::placeholder {
            color: white;
            opacity: 0.5;
        }
    }

    &__input {
        width: 400px;
        padding: 10px 45px 10px 0;
        @extend %remove-border;
        border-bottom: 2px solid white;
        color: white;
        font-size: 1.2rem;
        margin: 40px 0;
    }

    &__button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        outline: inherit;
        &:hover {
            cursor: pointer;
        }
        &__img {
            height: 25px;
        }
    }
}

.search-result {
    &__header {
        color: white;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.library-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    color: white;

    @media only screen and(max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and(max-width:576px) {
        grid-template-columns: 1fr;
    }
}
